.controls {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-content: center;
    align-items: center;

    .play:hover {
        cursor: pointer;
        color: green;
    }

    .stop:hover {
        cursor: pointer;
        color: red;
    }
}