@import 'variables';

.navbar {
    background-color: $navbar-bg;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;

    i {
        &:hover {
            cursor: pointer;
        }
    }
}